blackjack/blackjack.xcodeproj/project.xcworkspace/xcshareddata/blackjack.xccheckout
blackjack/blackjack.xcodeproj/project.xcworkspace/xcuserdata/vikas.xcuserdatad/UserInterfaceState.xcuserstate
blackjack/blackjack.xcodeproj/xcuserdata/vikas.xcuserdatad/xcschemes/blackjack.xcscheme
blackjack/blackjack.xcodeproj/xcuserdata/vikas.xcuserdatad/xcschemes/xcschememanagement.plist
